form {
    width: 50%;
    height: auto;
    font-size: 16px
}

h1 {
    font-size: 6vw;
    margin: 50px 0;
    font-family: quirlycues
}

.form-control {
    width: 100%;
    display: flex;
    overflow: hidden;
    font-size: 16px;
}

#input,
#submit {
    padding: 10px;
    box-sizing: border-box;
    font-size: inherit;
}

#input {
    flex-basis: 80%;
    border: 2px solid #000;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#submit {
    flex-basis: 20%;
    border: 2px solid #000;
    border-left: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: .4s ease
}

#submit:hover {
    letter-spacing: 3px
}